@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

#background {
    background-image: url("./assets/mobile-bg.JPG");
    background-size: 100%;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.header {
    display: flex;
    justify-content: space-between;
    background: linear-gradient(-33deg, rgba(226, 255, 255, 0.7), rgba(176, 206, 203, 0.7), rgba(221, 221, 221, 0.7), rgba(144, 152, 184, 0.7));
    background-size: 400% 400%;
    border-bottom: 7px solid #fff;
    animation: 15s ease infinite moving-gradient;
}

@keyframes moving-gradient{
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%;
    }
}



.logo {
    width: 300px;
    border-radius: 12px;
    /* padding: 18px; */
    margin: 12px;
    transition: all 800ms ease;
}

.logo:hover {
    background: linear-gradient(33deg, rgba(10, 0, 154, 0.7), rgba(102, 156, 255, 0.4));
    cursor:e-resize;
    padding: 21px;
    box-shadow: 0 0 8px #fff;
    transform: translateX(80px);
    color: #fff;
    font-weight: 700;
}

.contact__info {
    margin: 80px 40px 0 0;
}

.phone__number {
    background-color: #f4f4f4;
    padding: 12px 24px;
    border-radius: 30px;
    color: blue;
    text-decoration: none;
    font-weight: 800;
    transition: all 800ms ease;
}

.phone__number:hover {
    background: linear-gradient(72deg, rgba(0, 140, 140, 0.7), rgba(0, 0, 0, 0.7));
    padding: 15px 30px;
    box-shadow: 0 0 8px #fff;
    color: #fff;
    cursor: ne-resize;
}

.contact__button {
    background: linear-gradient(72deg, rgba(0, 140, 140, 0.9), rgba(150, 150, 0, 0.9));
    padding: 18px 45px;
    box-shadow: 0 0 8px #fff;
    border: 1px solid yellow;
    border-radius: 30px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    transition: all 800ms ease;
}

.contact__button:hover {
    box-shadow: none;
    padding: 30px 80px;
    border-radius: 100px;
    font-size: 24px;
}

.fa-envelope {
    opacity: 0;
    transition: all 800ms ease;
}

.contact__button:hover .fa-envelope {
    opacity: 1;
}

/* BODY */

.details__container {
    display: flex;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    margin-top: 180px;
}

.nav {
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.9), #fff);
    width: 100%;
    max-width: 230px;
    padding: 24px 0;
    border-radius: 40px 0 0 40px;
    border-right: 1px solid #1700ae;
    height: 210px;
}

.nav__list--li {
    list-style: none;
    text-align: right;
    margin: 0 40px 18px 0;
}

.nav__link {
    text-decoration: none;
    color: black;
    transition: all 800ms ease;
    font-weight: 400;
}

.nav__link:hover {
    color: blue;
    font-size: 18px;
    font-weight: 700;
}

.nav__link--active {
    color: blue;
    font-weight: 700;
}

.fa-arrow-right {
    opacity: 0;
    transition: all 800ms ease;
}

.nav__link:hover .fa-arrow-right {
    opacity: 1;
}

.info__container {
    max-width: 450px;
    padding: 24px 40px;
    /* margin-left: 15px; */
    background: linear-gradient(90deg, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.627));
    border-radius: 0 40px 40px 40px;
    color: #1700ae;
    text-align: center;
}

.info__title {
    font-weight: 200;
    /* font-family: "Playfair Display", serif; */
    font-size: 24px;
}

.info__subtitle {
    font-size: 24px;
}

.info__description {
    text-align: justify;
}

/* INVENTORY */


.inventory__container {
    max-width: 800px;
    margin-bottom: 40px;
}

.inventory__list {
    display: flex;
    flex-wrap: wrap;
}

.inventory__list--li {
    list-style: none;
}

.inventory__img {
    width: 140px;
}


/* ADDRESS */

.address__container {
    max-width: 700px;
}

.address__img {
    width: 100%;
}

/* CONTACT */

.contact__form {
    display: flex;
    flex-direction: column;
    margin: 8px 80px;
    width: 300px;
}

.contact__form--label {
    padding: 12px;
    text-align: left;
    color: black;
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 500;
}

.contact__form--input {
    font-family: "Montserrat Alternates", sans-serif;
    border: none;
    box-shadow: 0 8px 16px #999;
    border-radius: 30px;
    padding: 12px;
}

.contact__form--submit-btn {
    margin: 24px 0;
    padding: 24px 12px;
    background: linear-gradient(90deg, rgba(0, 140, 140, 0.9), rgba(0, 255, 255, 0.6));
    border: none;
    border-radius: 30px;
    transition: all 800ms ease;
    color: #fff;
    font-size: 16px;
    font-family: "Montserrat Alternates", sans-serif;
}

.contact__form--submit-btn:hover {
    background: linear-gradient(90deg, rgba(0, 255, 255, 0.6),rgba(0, 140, 140, 0.9));
    cursor: pointer;
    transform: scale(1.1);
    box-shadow: 0 0 16px rgba(0, 100, 100, 0.7);
}

/* FOOTER */

footer {
    display: flex;
    justify-content: center;
}

.copyright {
    color: #fff;
    position: fixed;
    bottom: 0;
    transition: all 800ms ease;
    border-radius: 80px;
}

.copyright:hover {
    background: linear-gradient(72deg, rgba(0, 140, 140, 0.7), rgba(0, 240, 240, 0.5));
    padding: 33px 47px;
    cursor: cell;
    font-size: 30px;
}

@media (max-width: 855px) {
    .details__container {
        flex-direction: column;
        align-items: center;
        margin: 80px 0 80px 0;
    }

    .nav {
        border-radius: 40px;
        border-right: none;
        max-width: 500px;
        margin-bottom: 40px;
    }

    .nav__list--li {
        text-align: left;
    }

    .info__container {
        max-width: 500px;
        border-radius: 40px;
    }

    .header {
        flex-direction: column;
        align-items: center;
    }

    .contact__info {
        margin: 12px 0 40px 0;
    }
}

@media (max-width: 550px) {
    .nav {
        max-width: 350px;
    }

    .info__container {
        max-width: 350px;
        margin: 0 24px;
    }

    .contact__form {
        margin: 0 auto;
    }

}